NODE_ENV=development

BACKEND_PORT=3000
FRONTEND_PORT=5173

DATABASE_URL=postgresql://ramofinance:ramofinance@localhost:5432/ramofinance_alerts

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=ramofinancebot
TELEGRAM_WEBAPP_URL=

JWT_SECRET=
WS_PORT=4000
